body {
  font-family: Arial, Times New Roman;
  background: #ACCAEC;
  padding: 20px;
  text-align: justify;
}

.container {
  max-width: 800px;
  margin: auto;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 15px;
}

h1, h2 {
  margin-top: 20px;
}

.box {
  width: 200px;
  padding: 10px;
  border: 4px solid #BDDA;
  margin: 10px 0;
  background: #e6f0ff;
}

.float-img {
  float: right;
  width: 140px;
  height: auto;
  margin: 10px;
  border-radius: 8px;
}

.clearfix: :after {
  content: "";
  display: block;
  clear: both;
}